<ion-header >
  
</ion-header>
<ion-content fullscreen padding text-center>
  <img class="logo" src="assets/img/logo.png" />
	<div padding>
		
	  <ion-row>
		<ion-col>
		  
		</ion-col>
		</ion-row>
		<form [formGroup]="loginForm" (ngSubmit)="login('email')" novalidate>
	  <ion-row>
		<ion-col>
		  <ion-list inset class="no-border">
			<ion-item>
			  
			  <ion-input type="text" placeholder="Email do Usuário" formControlName="email"></ion-input>
			</ion-item>
			<ion-item>
			  
			  <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
			</ion-item>
		  </ion-list>
		</ion-col>
	  </ion-row>
	  <ion-row>
			<ion-col>
			  <div >
				<span [navPush]="resetPasswordPage">Esqueceu a senha?</span>
			  </div>
			</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<button ion-button rounded  type="submit" class="login-button" >Login</button>
				</ion-col>
				</ion-row>
		</form>
	  
	  <ion-row>
		<ion-col>
		  <div >
			<span [navPush]="signupPage">Ainda não é um usuário Letsmeet? Clique aqui.</span>
		  </div>
		</ion-col>
	  </ion-row>
	  <br>
	  <br>
	  <ion-row>
			<ion-col>
			  <button ion-button class="login-button facebook" (click)="login('facebook')" icon-start> <ion-icon name='logo-facebook'> </ion-icon> Entrar com o Facebook</button>
			</ion-col>
		  </ion-row>
		  
	</div>
  <video #player playsinline autoplay muted loop poster="assets/video/video-cover.jpg" id="bgvid">
    <source src="assets/video/background-480.mp4" type="video/mp4"> Problemas com a reprodução do conteúdo.
  </video>
</ion-content>



  