// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  
    // Fullscreen centered image background
    ion-content {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-color: transparent;
    }
    .scroll-content {
      background-image: radial-gradient(center center, ellipse cover, #ffeda3, #ffc800);
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
   
    .no-border {
      border-bottom: 0 !important;
      box-shadow: none !important;
      border-radius: 10px;
      
    }
    ion-row {
      align-items: center;
      text-align: center;
    }
    @media only screen and (min-width: 768px) {
      ion-col.col {
        margin: 0 auto;
        max-width: 40%;
      }
    }
  
    ion-item {
      // border-radius: 30px !important;
      padding-left: 10px !important;
      margin-bottom: 10px;
      background-color: #f6f6f6;
      opacity: 0.7;
      font-size: 0.9em;
    }
    ion-list {
      margin: 0;
    }
    .login-button {
      width: 100%;
       border-radius: 30px;
      font-size: 0.10em;
      // border: 1px solid #fff;
      background-color: #da1f26;
      
    }
    ion-app.md [padding] .scroll-content {
      padding: 16px;
      background: #000;
  }
  .content-md {
    color: #000;
    background-color: #000;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
.logo {
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
}
span {
  color: white;
}
.buttons {
  text-align: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  width: 80%;
  transition: all 1s ease;
 
}
.login-button {
  width: 100%;
  height: 5rem;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: none !important;
 
}
.facebook {
  background-color: rgba(59, 89, 152, .7);
  &.activated {
    background-color: rgba(59, 89, 152, 1) !important;
  }
}
.google {
  background-color: rgba(219, 68, 55, .7);
  &.activated {
    background-color: rgba(219, 68, 55, 1) !important;
  }
}

}