<ion-tabs [selectedIndex]="mySelectedIndex" name="conference">
  <!--<ion-tab [root]="tab1Root" tabTitle="Schedule" tabIcon="calendar" tabUrlPath="conference-schedule"></ion-tab> -->
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="" tabIcon="map" tabUrlPath="conference-schedule"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="" tabIcon="person"></ion-tab>
</ion-tabs>
