page-speaker-list {
  .scroll-content {
    background: #000;
  }

  .speaker-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;

    ion-card-content {
      flex: 1 1 auto;
      background: #fff;
    }
  }
  .item-md{
    background: #fff;
  }
  .about-header img {
    max-width: 200px;
    min-height: 115px;
    
    padding: 25px 0 20px 0;
  }

  // Todo: remove when this issue https://github.com/ionic-team/ionic/issues/11212 is fixed
  @media(min-width: 769px) {
    .speaker-card {
      height: 370px;
    }
  }

  .speaker-card ion-card-header .item {
    padding: 4px 16px;
  }

  .speaker-card ion-card-content {
    padding-left: 0;
    padding-right: 0;
  }


  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
    background-color: transparent;
}
}
