<ion-header>
  <ion-navbar>
    
    <ion-title>Eventos</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list">
  <ion-list [virtualScroll]="speakers">
    <ion-grid fixed>
      <ion-row align-items-stretch>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center *virtualItem="let speaker" approxItemHeight="457px">

          <ion-card class="speaker-card">
            
              <button ion-item detail-none (click)="goToSpeakerDetail(speaker)">
                <div >
                  <img [src]="speaker.profilePic" alt="Speaker profile pic">
                </div>
               
              </button>
              

            <ion-card-content class="outer-content">
                
                <ion-list no-lines>
                    <ion-item>
                    <h1> Nome Evento </h1>
                    </ion-item>
                    
                    <ion-item>
                      <ion-icon name="calendar" item-start></ion-icon>
                    
                      <ion-datetime displayFormat="DD MM YYYY" max="2056" [(ngModel)]="conferenceDate"></ion-datetime>
                    </ion-item>
              
                    <ion-item>
                      <ion-icon name="pin" item-start></ion-icon>
                                           
                        <ion-label value="madison" >Centro de convenções, Brasília</ion-label>
                                              
                    </ion-item>
                  </ion-list>
              <ion-list>
                

                
              </ion-list>
               
            </ion-card-content>

            <ion-row no-padding>
              
              
              <ion-col col-6 col-lg-auto text-center>
                <button ion-button clear small color="primary" icon-start (click)="openSpeakerShare(speaker)">
                  <ion-icon name='share-alt'></ion-icon>
                  Compartilhar
                </button>
              </ion-col>
              <ion-col col-6 col-lg-auto text-center>
                  <button ion-button clear small color="primary" icon-start (click)="openContact(speaker)">
                    <ion-icon name='flag'></ion-icon>
                    Mais Informações
                  </button>
                </ion-col>
              
            </ion-row>
          
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="light" (click)="addEvento()"><ion-icon name="add"></ion-icon></button>
    
  </ion-fab>
</ion-content>
