
page-map ion-content {
  background: rgb(5, 5, 4);
}

page-map {
  // #map_canvas {
  //   height: 500px;
  //   width: 320px;
  //   background-color : transparent;
  // }
    #map_canvas {
      height: 100%;
      width: 100%;
    }
  
}

page-map ion-content {
  background: rgb(5, 5, 3);
}

page-map #map_canvas {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 150ms ease-in
}

page-map #map_canvas.show-map {
  opacity: 1;
}

ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
// .scroll {
//   height: 100%
// }

#map {
  width: 100%;
  height: 100%;
}