<ion-header>
  <ion-navbar>

    <ion-title>Letsmeet</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content padding>  //nesse attr padding sera de 16px por padrão-->
<ion-content>
  <div id="map_canvas">
      <input id="inputSrc" ion-input [(ngModel)]="search_address" value="Kyoto, Japan" style="position:absolute"><button ion-button (click)="onButton_click($event)">Search</button>
  </div> 


</ion-content>