<ion-header>
  <ion-navbar>
    <ion-title>Resetar Senha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()" novalidate>
    <ion-row>
      <ion-item>
        <ion-label for="email"></ion-label>
        <ion-input type="email" value="" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <button ion-button type="submit" block>Resetar Senha</button>
    </ion-row>
  </form>
</ion-content>

