<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Cadastro</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="login-page">


	<form [formGroup]="signupForm" (ngSubmit)="submit()" novalidate>
	  
		
		
		<ion-row>
				<ion-item>
					<ion-label for="nome"></ion-label>
					<ion-input type="nome" value="" placeholder="Nome" formControlName="nome"></ion-input>
				</ion-item>
		 </ion-row>
		<ion-row>
		<ion-item>
		  <ion-label for="email"></ion-label>
		  <ion-input type="email" value="" placeholder="Email" formControlName="email"></ion-input>
		</ion-item>
	  </ion-row>
	  <ion-row>
		<ion-item>
		  <ion-label for="password"></ion-label>
		  <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
		</ion-item>
	  </ion-row>
	  <ion-row>
		<ion-item>
		  <ion-label for="email"></ion-label>
		  <ion-input type="username" value="" placeholder="Username" formControlName="username"></ion-input>
		</ion-item>
	  </ion-row>
	  <ion-row>
		<button ion-button type="submit" block>Cadastrar</button>
	  </ion-row>
	</form>

</ion-content>
